.cart_container {
    display: grid;
    gap: 16px;
    position: absolute;
    padding: 0.25rem 2rem 1rem;
    background-color: #fff;
    border-radius: 20px;
    right: 50px;
    top: 100px;
    visibility: collapse;
    width: 300px;
}

.cart_container>h1 {
    text-align: center;
}

.close {
    transform: scale(1.2);
}

.close:hover {
    cursor: pointer;
}

.close_container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.active {
    visibility: visible;
}

.price_container {
    display: flex;
    justify-content: space-between;
}

.cart_items {
    gap: 16px;
    display: flex;
    flex-direction: column;
    height: 125px;
    overflow-y: scroll;
}


.button {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #444444;
    font-size: 1.25rem;
    border: none;
    color: #fff;
    transition: background-color 250ms ease-in-out;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: #000;
    transition: background-color 250ms ease-in-out;
}

.shopnow_button {
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.25rem;
    transition: color, background-color 250ms ease-in-out;
}

.shopnow_button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: color, background-color 250ms ease-in-out;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 75%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}