.header{
    position: sticky;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: #000;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.logo{
    font-size: 2.5rem;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: all 250ms ease-in-out;
}

.button{
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.25rem;
    transition: all 250ms ease-in-out;
}