.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}


.list_column{
    border-left: 2px solid #dddddd;
    background-color: #f5f5f5;
}

.items_container{
    padding: 60px 10px;
}

.discount_input_container{
    display: flex;
    gap: 8px;
}

.discount_input_container .input{
    flex: 2;
    display: flex;
}

.input input{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #737373;
}

.discount_container{
    display: flex;
    flex-direction: column;
}

.button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
    font-size: 1rem;
    color: #fff;
}

.button:hover{
    cursor: pointer;
}

.bottom_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.total{
    display: flex;
    gap: 8px;
    align-items: center;
}

.currency{
    font-size: 0.8rem;
    color: #6e6e6e;    
}

.bottom_container > * {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #dddddd;
}

.price_container{
    font-size: 0.85rem;
}

.subtotal{
    color: #6e6e6e;    
}

.discount_list{
    display: flex;
    padding: 10px 0;
}


